<!-- Shree Ganeshay namah  -->
     <!-- footer section  -->
     <section class="bg-dark text-white foote">
        <div class="container">
          <footer>
            <div class="row ">
              <div class="col-lg-3 col-sm-6">
                <h2 class="mb-5">Have a Questions?</h2>
                <span class="fot-location">
                <i class="fa-solid fa-location-dot"></i>
             
                  <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                </span>
      
                <span class="fot-call mb-3">
                  <i class="fa-solid fa-phone"></i>
               
                    <p>	+2 392 3929 210</p>
                  </span>
      
                  <span class="fot-mail">
                    <i class="fa-solid fa-envelope"></i>
                 
                      <p>
                        info@yourdomain.com</p>
                    </span>
              </div>
              <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                
                    <h2 class="mb-5">Recent Blog</h2>
                <div class="flex-foot">
                    <div class="image-vallaone"></div>
                    <p class="ms-4">Even the all-powerful Pointing has no control about</p>
                </div>
      
                <span class="all-emo-flex mb-4">
                  <span><i class="fa-solid fa-calendar-days"></i> <p style="display: inline-block;">June 27, 2019</p></span>
                  <span><i class="fa-solid fa-user"></i>
                    <p style="display: inline-block;">Admin</p>
                  </span>
                  <span><i class="fa-solid fa-message"></i><p style="display: inline-block;">19</p></span>
                </span>
      
      
      
                <div class="flex-foot">
                  <div class="image-vallaonee"></div>
                  <p class="ms-4">Even the all-powerful Pointing has no control about</p>
              </div>
      
              <span class="all-emo-flex" >
                <span><i class="fa-solid fa-calendar-days"></i> <p style="display: inline-block;">June 27, 2019</p></span>
                <span><i class="fa-solid fa-user"></i>
                  <p style="display: inline-block;">Admin</p>
                </span>
                <span><i class="fa-solid fa-message"></i><p style="display: inline-block;">19</p></span>
              </span>
                   
                </div>
            
              <div class="col-lg-3 col-sm-6  mt-lg-0 mt-4">
                <h2 class="mb-5">Links</h2>
                <ul class="footer-ul">
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Services</a></li>
                  <li><a href="">Deparments</a></li>
                  <li><a href="">Contact</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                <h2 class="mb-5">Subscribe Us!</h2>
                <input type="text" id="my-input-fot"  placeholder="Email and address">
                <button class="Subscribe-btn">
                  Subscribe
                </button>
      
                <h4 class="">Connect With Us</h4>
                <div class="contact-flex">
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-facebook-f"></i>
                  <i class="fa-brands fa-instagram"></i>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <p class="text-center Copyright">Copyright ©2024 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by Colorlib</p>
      </section>
      <!-- footer section  -->
  