<header class="container my-4">
    <div class="row">
      <div class="col-lg-4 col-sm-12   op">
        <h2 class="main ">Fox</h2>
      </div>

      <div class="col-lg-2 col-sm-12 col-md-12 location">
        <i class="fa-solid fa-location-arrow my-3"></i>
        <div class="inner">
          <p class="main-email">Email</p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 phone">
        <i class="fa-solid fa-phone my-3"></i>
        <div class="inner-two">
          <p class="main-call">Call</p>
        </div>
      </div>

      <div class="col-lg-2 col-sm-12  d-flex justify-content-lg-end justify-content-sm-end justify-content-end   Apply">
        <button class="button   ">Apply Now</button>
      </div>
    </div>
 </header>

 <!-- lower header  --> 
 <div class="over">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light  " >
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <span class="bar"><i class="fa-solid fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ms-1">
                <a class="nav-link active home" style="color: #fd5f00;" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item ms-4">
                <a class="nav-link active text-white"href="/about">About</a>
              </li>

              <li class="nav-item ms-4">
                <a class="nav-link active text-white" aria-current="page" href="">Courses</a>
              </li>

              <li class="nav-item ms-4">
                <a class="nav-link active text-white" aria-current="page" href="#">Staff</a>
              </li>

              <li class="nav-item ms-4">
                <a class="nav-link active text-white" aria-current="page" href="/blog">Blog</a>
              </li>

              <li class="nav-item ms-4">
                <a class="nav-link active text-white" aria-current="page" href="/Contact">Content</a>
              </li>
              
           

            </ul>
            <form class="d-flex head-input ">
             <input type="text" class="form-control rounded-pill" placeholder="Search">
             <i class="fa-solid fa-magnifying-glass "></i>
            </form>
          </div>
        </div>
      </nav>
    </div>
    </div>
    <!-- lower header  -->