<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/headsection') %>
<body>
    <%- include('../layout/header')%>

  <!-- course section  -->
  <section class="Courses-section">
    <div class="first-text">
      <h2>Our Courses</h2>
      <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
    </div>

    <div class="row ">
      <div class="first-electical col-lg-3 col-md-6">
        <img src="/images/course-1.jpg.webp" alt="" height="260px" width="100%">
        <div class="text-one">
          <div class="first-row">
            <i class="fa-solid fa-user"><span>MR.&nbsp;KHAN</span></i>
            <i class="fa-regular fa-calendar-days"><span>10&nbsp; SEATS</span></i>
            <i class="fa-solid fa-gift"><span>4 &nbsp;Years</span></i>
          </div>
          <h2 class="electical-text mb-3">Electical Enginaring</h2>
          <p class="para">Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>

          <button class="rounded-pill first-button">
            Apply Now
          </button>
        </div>
      </div>

      <div class="first-electical col-lg-3 col-md-6">
        <img src="/images/course-2.jpg.webp" alt="" height="260px" width="100%">
        <div class="text-one">
          <div class="first-row">
            <i class="fa-solid fa-user"><span>MR.&nbsp;KHAN</span></i>
            <i class="fa-regular fa-calendar-days"><span>10&nbsp; SEATS</span></i>
            <i class="fa-solid fa-gift"><span>4 &nbsp;Years</span></i>
          </div>
          <h2 class="electical-text mb-3">Electical Enginaring</h2>
          <p class="para">Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>

          <button class="rounded-pill first-button">
            Apply Now
          </button>
        </div>
      </div>

      <div class="first-electical col-lg-3 col-md-6">
        <img src="/images/course-3.jpg.webp" alt="" height="260px" width="100%">
        <div class="text-one">
          <div class="first-row">
            <i class="fa-solid fa-user"><span>MR.&nbsp;KHAN</span></i>
            <i class="fa-regular fa-calendar-days"><span>10&nbsp; SEATS</span></i>
            <i class="fa-solid fa-gift"><span>4 &nbsp;Years</span></i>
          </div>
          <h2 class="electical-text mb-3">Electical Enginaring</h2>
          <p class="para">Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>

          <button class="rounded-pill first-button">
            Apply Now
          </button>
        </div>
      </div>

      <div class="first-electical col-lg-3 col-md-6">
        <img src="/images/course-4.jpg.webp" alt="" height="260px" width="100%">
        <div class="text-one">
          <div class="first-row">
            <i class="fa-solid fa-user"><span>MR.&nbsp;KHAN</span></i>
            <i class="fa-regular fa-calendar-days"><span>10&nbsp; SEATS</span></i>
            <i class="fa-solid fa-gift"><span>4 &nbsp;Years</span></i>
          </div>
          <h2 class="electical-text mb-3">Electical Enginaring</h2>
          <p class="para">Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>

          <button class="rounded-pill first-button">
            Apply Now
          </button>
        </div>
      </div>
    </div>
  </section>
<!-- Courses Section  -->

    <%- include('../layout/footer')%>
</body>
</html>