<!-- Shree Ganeshay namah  -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/headsection') %>
<body>

    <%- include('../layout/header')%>    
<section style="background-color: #fafafa !important; padding: 100px 0px 100px; margin-bottom: 20px; ">
    <div class="text-main">
      <h2 class="">
        Recent Blog
      </h2>
    
      <p>
        Separated they live in. A small river named Duden flows by their place and supplies it with the necessary
        regelialia. It is a paradisematic country
      </p>
    </div>
    <div class="container">
      <div class="row  g-4 ">
        <div class="col-lg-4 col-md-6  main-why ">
          <div class="my-image-tag">
            <div class="inner-blog-overlay">
              <h3>26</h3>
              <p>june</p>
              <p>2019</p>
            </div>
          </div>
          <div class="card-body shadow">
            <h5>
              Skills To Develop Your Child Memory
            </h5>
            <p>
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            </p>

            <button>
              Read More<i style="margin-left: 5px;" class="fa-solid fa-arrow-right"></i>
            </button>
            
          
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="my-image-tag-second">
            
              <div class="inner-blog-overlay">
                <h3>26</h3>
                <p>june</p>
                <p>2019</p>
              </div>
            
          </div>
          <div class="card-body shadow">
            <h5>
              Skills To Develop Your Child Memory
            </h5>
            <p>
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            </p>

            <button>
              Read More<i style="margin-left: 5px;" class="fa-solid fa-arrow-right"></i>
            </button>
            
            
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="my-image-tag-third">
            <div class="inner-blog-overlay">
              <h3>26</h3>
              <p>june</p>
              <p>2019</p>
            </div>
          </div>
          <div class="card-body shadow">
            <h5>
              Skills To Develop Your Child Memory
            </h5>
            <p>
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            </p>
            <button>
              Read More<i style="margin-left: 5px;" class="fa-solid fa-arrow-right"></i>
            </button>
            
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../layout/footer')%>
</body>
</html>