<!-- Shree Ganeshay namah  -->
<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/headsection') %>
<body>

    <%- include('../layout/header')%>           
    
 <!-- quto section  -->
 <section class="text-white">
     
    <div class="mainquote">
      <div class="container">
        <div class="row">
          <div class="quoto-first col-lg-6"></div>
          
       
            <div class="quoto-second col-lg-6">
              <div data-aos="fade-up"
     data-aos-duration="1000">

              <h2 class="mb-4">Request A Quote</h2>

              <p class="mb-5 mt-2 blind"> Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the blind texts.</p>

              <form action="">
                <div class="md-flex mb-4 mt-2 flex-9 ">
                  <input type="text" class="" id="main_input" placeholder="First Name">
                  <input type="text" id="main_input" placeholder="Last Name">
                </div>

                <div class="md-flex mb-4 mt-2 flex-9">
                  <select name="" id="spe-select">
                    <option value="">Select Your Ciurse</option>
                    <option value="">Hello</option>
                    <option value="">Hello</option>
                  </select>
                  <input type="text" id="main_input" placeholder="Phone">
                </div>

                <div class="md-flex flex-9 mb-4 mt-2">
                  <textarea type="text" id="message" placeholder="message"></textarea>
                  <button class="button-main-kuch">
                    Request a Quote
                  </button>
                </div>
              </form>
            </div>
            </div>
        </div>
        
      </div>
    </div>
 
  </section>
  <!-- quto section  -->

    <%- include('../layout/footer')%>
</body>
</html>